@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* FUENTES */
  --font-main: 'Poppins', sans-serif;
  --font-headings: 'Lato', sans-serif;

  /* COLORES */
  --c-primary: #38B6FF;
  --c-gray-dark: #575655;
  --c-gray-light: #EBEBEB;
  --c-white: #FFFFFF;
  --c-black: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-main);
  font-size: 1.6rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
  margin: 0 0 1.5rem 0;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.8rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

/* GLOBALES */
p {
  margin: 0;
  letter-spacing: .1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

hr {
  border: 1px solid var(--c-gray-light);
}

/* Utils */
.container {
  width: min(90%, 105rem);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--c-primary);
}

.text-white {
  color: var(--c-white);
}

.section {
  padding: 5rem 0;
}